In [1]:
!pip install pyspark

Collecting pyspark
  Downloading pyspark-3.5.0.tar.gz (316.9 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 316.9/316.9 MB 4.4 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.5.0-py2.py3-none-any.whl size=317425345 sha256=fd4d8302970aa5aca0ddf6d1df91ef3f18bd620ce75355b3c8d511ddbbd1ce89
  Stored in directory: /root/.cache/pip/wheels/41/4e/10/c2cf2467f71c678cfc8a6b9ac9241e5e44a01940da8fbb17fc
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.5.0

In [2]:
import pyspark

In [10]:
import pandas as pd
pd.read_csv('/content/sample_data/california_housing_test.csv')

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-122.05,37.37,27.0,3885.0,661.0,1537.0,606.0,6.6085,344700.0
1,-118.30,34.26,43.0,1510.0,310.0,809.0,277.0,3.5990,176500.0
2,-117.81,33.78,27.0,3589.0,507.0,1484.0,495.0,5.7934,270500.0
3,-118.36,33.82,28.0,67.0,15.0,49.0,11.0,6.1359,330000.0
4,-119.67,36.33,19.0,1241.0,244.0,850.0,237.0,2.9375,81700.0
...,...,...,...,...,...,...,...,...,...
2995,-119.86,34.42,23.0,1450.0,642.0,1258.0,607.0,1.1790,225000.0
2996,-118.14,34.06,27.0,5257.0,1082.0,3496.0,1036.0,3.3906,237200.0
2997,-119.70,36.30,10.0,956.0,201.0,693.0,220.0,2.2895,62000.0
2998,-117.12,34.10,40.0,96.0,14.0,46.0,14.0,3.2708,162500.0
2999,-119.63,34.42,42.0,1765.0,263.0,753.0,260.0,8.5608,500001.0

In [3]:
from pyspark.sql import SparkSession

# New Section

In [12]:
spark=SparkSession.builder.appName('Practise').getOrCreate()

In [13]:
spark

In [14]:
df_pyspark=spark.read.csv('/content/sample_data/mnist_test.csv')

In [ ]:
df_pyspark.tail(2)

In [21]:
df_pyspark=spark.read.option('header','true').csv('/content/sample_data/mnist_test.csv')

In [22]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [ ]:
df_pyspark.head(3)

In [25]:
from pyspark.sql import SparkSession

In [26]:
spark=SparkSession.builder.appName('Practice').getOrCreate()

In [27]:
spark

In [56]:
df_pyspark=spark.read.option('header','true').csv('/test1.csv',inferSchema=True)

In [39]:
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Experience: string (nullable = true)

In [40]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [41]:
df_pyspark.head(2)

[Row(Name='Jagriti', Age=24, Experience='sql'),
 Row(Name='Shikha', Age=23, Experience='Python')]

In [42]:
df_pyspark.show()

+-------+---+----------+
|   Name|Age|Experience|
+-------+---+----------+
|Jagriti| 24|       sql|
| Shikha| 23|    Python|
| Arpita| 19|      Java|
|Kashish| 22|    Apache|
+-------+---+----------+

In [44]:
df_pyspark.select('Name','Experience').show()

+-------+----------+
|   Name|Experience|
+-------+----------+
|Jagriti|       sql|
| Shikha|    Python|
| Arpita|      Java|
|Kashish|    Apache|
+-------+----------+

In [45]:
df_pyspark['Name']

Column<'Name'>

In [46]:
df_pyspark.dtypes

[('Name', 'string'), ('Age', 'int'), ('Experience', 'string')]

In [48]:
df_pyspark.describe().show()

+-------+------+-----------------+----------+
|summary|  Name|              Age|Experience|
+-------+------+-----------------+----------+
|  count|     4|                4|         4|
|   mean|  NULL|             22.0|      NULL|
| stddev|  NULL|2.160246899469287|      NULL|
|    min|Arpita|               19|    Apache|
|    max|Shikha|               24|       sql|
+-------+------+-----------------+----------+

In [55]:
df_pyspark=df_pyspark.withColumn('New Experience',df_pyspark['Experience']+2).show()

+-------+---+----------+--------------+
|   Name|Age|Experience|New Experience|
+-------+---+----------+--------------+
|Jagriti| 24|       sql|          NULL|
| Shikha| 23|    Python|          NULL|
| Arpita| 19|      Java|          NULL|
|Kashish| 22|    Apache|          NULL|
+-------+---+----------+--------------+

In [57]:
df_pyspark.show()

+-------+---+----------+
|   Name|Age|Experience|
+-------+---+----------+
|Jagriti| 24|       sql|
| Shikha| 23|    Python|
| Arpita| 19|      Java|
|Kashish| 22|    Apache|
+-------+---+----------+

In [59]:
df_pyspark.withColumnRenamed('Name', 'Changed Name').show()

+------------+---+----------+
|Changed Name|Age|Experience|
+------------+---+----------+
|     Jagriti| 24|       sql|
|      Shikha| 23|    Python|
|      Arpita| 19|      Java|
|     Kashish| 22|    Apache|
+------------+---+----------+

In [5]:
from pyspark.sql import SparkSession
spark=SparkSession.builder.appName('Practice').getOrCreate()

In [23]:
df_pyspark=spark.read.csv('/content/test1.csv',header='True',inferSchema=True)

In [24]:
df_pyspark.show()

+-------+----+----------+------+
|   Name| Age|Experience|Salary|
+-------+----+----------+------+
|Jagriti|  24|         1| 60000|
| Shikha|  23|         2| 50000|
| Arpita|  19|      NULL| 45000|
|Kashish|  22|         2| 30000|
|   NULL|  24|      NULL| 40000|
| Ashish|NULL|         2| 30000|
|  Divya|  26|         1|  NULL|
+-------+----+----------+------+

In [25]:
df_pyspark.drop('Age').show()

+-------+----------+------+
|   Name|Experience|Salary|
+-------+----------+------+
|Jagriti|         1| 60000|
| Shikha|         2| 50000|
| Arpita|      NULL| 45000|
|Kashish|         2| 30000|
|   NULL|      NULL| 40000|
| Ashish|         2| 30000|
|  Divya|         1|  NULL|
+-------+----------+------+

In [26]:
df_pyspark.na.drop().show()

+-------+---+----------+------+
|   Name|Age|Experience|Salary|
+-------+---+----------+------+
|Jagriti| 24|         1| 60000|
| Shikha| 23|         2| 50000|
|Kashish| 22|         2| 30000|
+-------+---+----------+------+

In [27]:
df_pyspark.na.drop(how="any").show()

+-------+---+----------+------+
|   Name|Age|Experience|Salary|
+-------+---+----------+------+
|Jagriti| 24|         1| 60000|
| Shikha| 23|         2| 50000|
|Kashish| 22|         2| 30000|
+-------+---+----------+------+

In [28]:
df_pyspark.na.drop(how="all").show()

+-------+----+----------+------+
|   Name| Age|Experience|Salary|
+-------+----+----------+------+
|Jagriti|  24|         1| 60000|
| Shikha|  23|         2| 50000|
| Arpita|  19|      NULL| 45000|
|Kashish|  22|         2| 30000|
|   NULL|  24|      NULL| 40000|
| Ashish|NULL|         2| 30000|
|  Divya|  26|         1|  NULL|
+-------+----+----------+------+

In [32]:
df_pyspark.na.drop(how="any",thresh=4).show()
#thresh deletes row with limit threshold value if 4 columns are null it will delete that row

+-------+---+----------+------+
|   Name|Age|Experience|Salary|
+-------+---+----------+------+
|Jagriti| 24|         1| 60000|
| Shikha| 23|         2| 50000|
|Kashish| 22|         2| 30000|
+-------+---+----------+------+

In [33]:
df_pyspark.na.drop(how="any",subset=['Experience']).show()
#any null value from subset column having Null is deleted

+-------+----+----------+------+
|   Name| Age|Experience|Salary|
+-------+----+----------+------+
|Jagriti|  24|         1| 60000|
| Shikha|  23|         2| 50000|
|Kashish|  22|         2| 30000|
| Ashish|NULL|         2| 30000|
|  Divya|  26|         1|  NULL|
+-------+----+----------+------+

In [45]:
df_pyspark=spark.read.csv('/content/test1.csv',header='True')

In [48]:
#filling missing values
df_pyspark.na.fill('Missing Values',['Age','Salary']).show()
#it will fill all the null with Missing Values keyword for the mentioned column
#column should be string only for filling values

+-------+--------------+----------+--------------+
|   Name|           Age|Experience|        Salary|
+-------+--------------+----------+--------------+
|Jagriti|            24|         1|         60000|
| Shikha|            23|         2|         50000|
| Arpita|            19|      NULL|         45000|
|Kashish|            22|         2|         30000|
|   NULL|            24|      NULL|         40000|
| Ashish|Missing Values|         2|         30000|
|  Divya|            26|         1|Missing Values|
+-------+--------------+----------+--------------+

In [49]:
df_pyspark.na.fill('Missing Values').show()

+--------------+--------------+--------------+--------------+
|          Name|           Age|    Experience|        Salary|
+--------------+--------------+--------------+--------------+
|       Jagriti|            24|             1|         60000|
|        Shikha|            23|             2|         50000|
|        Arpita|            19|Missing Values|         45000|
|       Kashish|            22|             2|         30000|
|Missing Values|            24|Missing Values|         40000|
|        Ashish|Missing Values|             2|         30000|
|         Divya|            26|             1|Missing Values|
+--------------+--------------+--------------+--------------+

In [61]:
from pyspark.ml.feature import Imputer
imputer=Imputer(
    inputCols=['Age','Experience','Salary'],
    outputCols=["{}_imputed".format(c) for c in ['Age','Experience','Salary']]
    ).setStrategy("mean")
    #startegy can be mean, median or mode

In [62]:
df_pyspark=spark.read.csv('/content/test1.csv',header='True',inferSchema=True)
imputer.fit(df_pyspark).transform(df_pyspark).show()

+-------+----+----------+------+-----------+------------------+--------------+
|   Name| Age|Experience|Salary|Age_imputed|Experience_imputed|Salary_imputed|
+-------+----+----------+------+-----------+------------------+--------------+
|Jagriti|  24|         1| 60000|         24|                 1|         60000|
| Shikha|  23|         2| 50000|         23|                 2|         50000|
| Arpita|  19|      NULL| 45000|         19|                 1|         45000|
|Kashish|  22|         2| 30000|         22|                 2|         30000|
|   NULL|  24|      NULL| 40000|         24|                 1|         40000|
| Ashish|NULL|         2| 30000|         23|                 2|         30000|
|  Divya|  26|         1|  NULL|         26|                 1|         42500|
+-------+----+----------+------+-----------+------------------+--------------+

In [65]:
df_pyspark=spark.read.csv('/content/test1.csv',header='True',inferSchema=True)
df_pyspark.show()

+-------+---+----------+------+
|   Name|Age|Experience|Salary|
+-------+---+----------+------+
|Jagriti| 24|       1.5| 60000|
| Shikha| 23|       2.0| 50000|
| Arpita| 19|       1.0| 45000|
|Kashish| 22|       2.0| 30000|
| Ashish| 24|       2.0| 40000|
|  Divya| 26|       2.0| 24000|
+-------+---+----------+------+

In [66]:
df_pyspark.filter("Salary>=30000").show()

+-------+---+----------+------+
|   Name|Age|Experience|Salary|
+-------+---+----------+------+
|Jagriti| 24|       1.5| 60000|
| Shikha| 23|       2.0| 50000|
| Arpita| 19|       1.0| 45000|
|Kashish| 22|       2.0| 30000|
| Ashish| 24|       2.0| 40000|
+-------+---+----------+------+

In [67]:
df_pyspark.filter("Salary>=30000").select(['Name','Age']).show()

+-------+---+
|   Name|Age|
+-------+---+
|Jagriti| 24|
| Shikha| 23|
| Arpita| 19|
|Kashish| 22|
| Ashish| 24|
+-------+---+

In [72]:
df_pyspark.filter((df_pyspark['Salary']<=60000)
& (df_pyspark['Salary']>=40000)).show()

+-------+---+----------+------+
|   Name|Age|Experience|Salary|
+-------+---+----------+------+
|Jagriti| 24|       1.5| 60000|
| Shikha| 23|       2.0| 50000|
| Arpita| 19|       1.0| 45000|
| Ashish| 24|       2.0| 40000|
+-------+---+----------+------+

In [76]:
df_pyspark.filter(~(df_pyspark['Salary']<=40000)).show()

+-------+---+----------+------+
|   Name|Age|Experience|Salary|
+-------+---+----------+------+
|Jagriti| 24|       1.5| 60000|
| Shikha| 23|       2.0| 50000|
| Arpita| 19|       1.0| 45000|
+-------+---+----------+------+

In [7]:
from pyspark.sql import SparkSession
spark=SparkSession.builder.appName('Practice').getOrCreate()
df_pyspark=spark.read.csv('/content/test1.csv',header='True',inferSchema=True)

In [8]:
df_pyspark.show()

+-------+------------+------+
|   Name| Departments|Salary|
+-------+------------+------+
|Jagriti|Data Science| 60000|
| Shikha|         IOT| 50000|
| Arpita|          AI| 45000|
|Kashish|    Power BI| 30000|
| Ashish|          ML| 40000|
| Shikha|         SQL| 24000|
|Kashish|          BQ| 23000|
|Jagriti|   Big Query| 56000|
|Jagriti|          AI| 48000|
| Arpita|    Power BI| 50000|
+-------+------------+------+

In [11]:
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Departments: string (nullable = true)
 |-- Salary: integer (nullable = true)

In [14]:
df_pyspark.groupBy('Name').sum().show()

+-------+-----------+
|   Name|sum(Salary)|
+-------+-----------+
|Jagriti|     164000|
| Arpita|      95000|
| Ashish|      40000|
|Kashish|      53000|
| Shikha|      74000|
+-------+-----------+

In [15]:
df_pyspark.groupBy('Departments').sum().show()

+------------+-----------+
| Departments|sum(Salary)|
+------------+-----------+
|         IOT|      50000|
|          AI|      93000|
|   Big Query|      56000|
|         SQL|      24000|
|          ML|      40000|
|Data Science|      60000|
|    Power BI|      80000|
|          BQ|      23000|
+------------+-----------+

In [16]:
df_pyspark.groupBy('Departments').mean().show()

+------------+-----------+
| Departments|avg(Salary)|
+------------+-----------+
|         IOT|    50000.0|
|          AI|    46500.0|
|   Big Query|    56000.0|
|         SQL|    24000.0|
|          ML|    40000.0|
|Data Science|    60000.0|
|    Power BI|    40000.0|
|          BQ|    23000.0|
+------------+-----------+

In [18]:
df_pyspark.groupBy('Departments').count().show()

+------------+-----+
| Departments|count|
+------------+-----+
|         IOT|    1|
|          AI|    2|
|   Big Query|    1|
|         SQL|    1|
|          ML|    1|
|Data Science|    1|
|    Power BI|    2|
|          BQ|    1|
+------------+-----+

In [19]:
df_pyspark.groupBy('Name').count().show()

+-------+-----+
|   Name|count|
+-------+-----+
|Jagriti|    3|
| Arpita|    2|
| Ashish|    1|
|Kashish|    2|
| Shikha|    2|
+-------+-----+

In [20]:
df_pyspark.groupBy('Name').max().show()

+-------+-----------+
|   Name|max(Salary)|
+-------+-----------+
|Jagriti|      60000|
| Arpita|      50000|
| Ashish|      40000|
|Kashish|      30000|
| Shikha|      50000|
+-------+-----------+

In [21]:
df_pyspark.groupBy('Departments').min().show()

+------------+-----------+
| Departments|min(Salary)|
+------------+-----------+
|         IOT|      50000|
|          AI|      45000|
|   Big Query|      56000|
|         SQL|      24000|
|          ML|      40000|
|Data Science|      60000|
|    Power BI|      30000|
|          BQ|      23000|
+------------+-----------+

In [ ]:
!pip install pyspark
from pyspark.sql import SparkSession
spark=SparkSession.builder.appName('Missing').getOrCreate()

In [2]:
training=spark.read.csv('/content/test1.csv',header='True',inferSchema=True)
training.show()

+---------+---+----------+------+
|     Name|age|Experience|Salary|
+---------+---+----------+------+
|   Krish | 31|        10| 60000|
|Sudhanshu| 30|         9| 55000|
|    Sunny| 28|         8| 50000|
|     Paul| 24|         6| 45000|
|   Harsha| 21|         5| 40000|
|  Shubham| 23|         4| 35000|
+---------+---+----------+------+

In [3]:
training.printSchema()

root
 |-- Name: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- Experience: integer (nullable = true)
 |-- Salary: integer (nullable = true)

In [5]:
training.columns

['Name', 'age', 'Experience', 'Salary']

In [13]:
from pyspark.ml.feature import VectorAssembler
feautureassembler=VectorAssembler(inputCols=["age","Experience"],outputCol="Independen feature")

In [14]:
output=feautureassembler.transform(training)

Exception ignored in: <function JavaWrapper.__del__ at 0x7c5e87c5b2e0>
Traceback (most recent call last):
  File "/usr/local/lib/python3.10/dist-packages/pyspark/ml/wrapper.py", line 53, in __del__
    if SparkContext._active_spark_context and self._java_obj is not None:
AttributeError: 'VectorAssembler' object has no attribute '_java_obj'

In [15]:
output.show()

+---------+---+----------+------+------------------+
|     Name|age|Experience|Salary|Independen feature|
+---------+---+----------+------+------------------+
|   Krish | 31|        10| 60000|       [31.0,10.0]|
|Sudhanshu| 30|         9| 55000|        [30.0,9.0]|
|    Sunny| 28|         8| 50000|        [28.0,8.0]|
|     Paul| 24|         6| 45000|        [24.0,6.0]|
|   Harsha| 21|         5| 40000|        [21.0,5.0]|
|  Shubham| 23|         4| 35000|        [23.0,4.0]|
+---------+---+----------+------+------------------+

In [16]:
output.columns

['Name', 'age', 'Experience', 'Salary', 'Independen feature']

In [20]:
final_dataset=output.select("Independen feature", "Salary")
final_dataset.show()

+------------------+------+
|Independen feature|Salary|
+------------------+------+
|       [31.0,10.0]| 60000|
|        [30.0,9.0]| 55000|
|        [28.0,8.0]| 50000|
|        [24.0,6.0]| 45000|
|        [21.0,5.0]| 40000|
|        [23.0,4.0]| 35000|
+------------------+------+

In [24]:
from pyspark.ml.regression import LinearRegression
train_data,test_data=final_dataset.randomSplit([0.75,0.25])
regressor=LinearRegression(featuresCol='Independen feature',labelCol='Salary')
regressor=regressor.fit(train_data)

Exception ignored in: <function JavaWrapper.__del__ at 0x7c5e87c5b2e0>
Traceback (most recent call last):
  File "/usr/local/lib/python3.10/dist-packages/pyspark/ml/wrapper.py", line 53, in __del__
    if SparkContext._active_spark_context and self._java_obj is not None:
AttributeError: 'LinearRegression' object has no attribute '_java_obj'
Exception ignored in: <function JavaWrapper.__del__ at 0x7c5e87c5b2e0>
Traceback (most recent call last):
  File "/usr/local/lib/python3.10/dist-packages/pyspark/ml/wrapper.py", line 53, in __del__
    if SparkContext._active_spark_context and self._java_obj is not None:
AttributeError: 'LinearRegression' object has no attribute '_java_obj'

In [25]:
regressor.coefficients

DenseVector([-631.068, 5048.5437])

In [26]:
regressor.intercept

28543.689320398717

In [28]:
predict=regressor.evaluate(test_data)
predict.predictions.show()

+------------------+------+-----------------+
|Independen feature|Salary|       prediction|
+------------------+------+-----------------+
|        [23.0,4.0]| 35000|34223.30097087074|
+------------------+------+-----------------+